/* variables */
:root {
    --main-color: #0D1B48;
    --second-color: #C33C54;
    --original-coler: #ffffff;
    --section--color: #F5F9FE;
    --section-padding: 60px;
    --sectionTop-padding: 140px;
}






* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Serif Display', serif;
}

ul {
    list-style: none;
}

a {
    color: var(--original-coler);
    text-decoration: none;
}

.container {
    padding-left:20px ;
    padding-right:20px ;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* header */
header {
    background-color: var(--main-color);
    width: 100%;
    position: fixed;
    padding-top: 10px;
    z-index: 10;

}

header nav {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    font-size: 2rem;
    color: var(--original-coler);
    transition: .7s ease;
}
header .container .logo:hover {
    font-size: 2rem;
    color: var(--second-color);
}
header .container .addTOCart {
    padding-top: 5px;
    font-size: 1.5rem;
    color: var(--original-coler);
    transition: .5s ease;
    position: relative;
    
}
header .container .addTOCart:hover{
    color: var(--second-color);
    
  }
  header .container .addTOCart .buy{
    
    background-color: var(--section--color);
    color: var(--main-color);
    padding:4px 8px ;
    border-radius: 50%;
    font-size: 18px;
    position: absolute;
    top: -10px;
    left:15px ;
    transition: .5s ease;
 }
 header .container .addTOCart:hover .buy{
     background-color: var(--second-color);
 
  }

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

header nav ul a {
    transition: .7s ease;
    font-size: 1.5rem;
}
header nav ul .active {
    color: var(--second-color);
}
header nav ul a:hover {
    color: var(--second-color);
}

header nav .bars {
    display: none;
    padding-top: 6px;
    cursor: pointer;
}



header nav .bars span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto 5px auto;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: var(--original-coler);
    
}

header nav .bars:hover span {

    background-color: var(--second-color);
}

@media (max-width:768px) {
    header nav .bars {
        display: block;
       
    }

    header nav .bars.active :nth-child(2) {
        opacity: 0;

    }

    header nav .bars.active :nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    header nav .bars.active :nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }

    header nav ul {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 10px;
        flex-direction: column;
        background-color: var(--main-color);
        width: 100%;
        text-align: center;
        transition: .5s ease-in-out;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--original-coler);

    }

    header nav .active {
        left: 0;
    }
}








/* end */
/* introduction */
.introduction {
    padding-top:var(--sectionTop-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section--color);
    background-image: url(../../images/background\ page\ about.jpg);
    background-size: cover;
    height: 90vh;
}
.introduction h2{
    color: var(--section--color);
    opacity: .9;
    font-size: 60px;
    padding-top: 40px;
}


@media (max-width:768px) {
    .introduction h2{
        color: var(--section--color);
        opacity: .9;
        font-size: 50px;
        padding-top: 20px;
        text-align: left !important;
    }
}
/* end */
/* cards */
.allProduct {
    padding-top:calc(var(--section-padding) + 40px) ;
    padding-bottom: var(--section-padding);
    background-color: var(--section--color);
}

.allProduct .products .img {

    height: 300px;
    object-fit: cover;
}
.allProduct .container .product  {

    transition:all .7s ease;
     
 }
 .allProduct .container .product:hover {
 
     box-shadow: 2px 2px 10px 2px rgba(2, 28, 141, 0.6) ;
 }
.allProduct .products button{
    color: var(--main-color) !important;

}
.allProduct .products button:hover{
    background-color: var(--main-color) !important;
    color: var(--section--color) !important;
}
/* nav */
.allProduct .pages{
    padding-top:var(--section-padding);
    
}
.allProduct .pages .pages-nav a{
    color: var(--main-color) !important;
    transition:all .5s ease;
}
.allProduct .pages .pages-nav a:hover{
    background-color: var(--main-color) !important;
    color: var(--section--color) !important;
}
/* end */

/* end */
/* footer */
footer{
    background-color: var(--main-color);
    color: var(--original-coler);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
footer .container .moreInformation{
    padding-bottom: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 22px;
    display: flex;
    justify-content: space-between;

}



footer .container .moreInformation a{
    border-bottom: 2px solid var(--original-coler);
    transition: .5s ease;
}
footer .container .moreInformation a:hover{
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);
}


@media (max-width:768px) {
    footer .container .moreInformation{
        justify-content: center;

    }
    footer .container .moreInformation .removeThis {
      display: none;

    }
}


footer .container .base{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

footer .container .base .social {
    display: flex;
    gap: 30px ; 
    
    
}
footer .container .base .social i{
  transition: .5s ease;
    
    
}

footer .container .base .social i:hover{
    color: var(--second-color); 
    
    
}
@media (max-width:768px) {
    footer .container .base{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 20px;
    }
    footer .container .base .social{
        justify-content: center; 
        
        
    }
    footer .container .copyRights{
        text-align: center;
    }
}
/* end */